<div>
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="form">
    <h2>Create Account</h2>
    <div class="form-group">
      <label for="customer">Customer:</label>
      <select formControlName="customer">
        <option value="">Select a customer</option>
        <option *ngFor="let customer of customers" [ngValue]="customer">
          {{ customer.name }}
        </option>
      </select>
      <div *ngIf="accountForm.get('customer')?.invalid && (accountForm.get('customer')?.touched )" class="error">
        <small *ngIf="accountForm.get('customer')?.hasError('required')">Customer is required.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="balance">Balance:</label>
      <input type="text" id="balance" formControlName="balance" />
      <div *ngIf="accountForm.get('balance')?.invalid && accountForm.get('balance')?.touched">
        <small *ngIf="accountForm.get('balance')?.errors?.['required']">Balance is required.</small>
        <small *ngIf="accountForm.get('balance')?.errors?.['min']">Balance must be non-negative.</small>
      </div>
    </div>

    <button type="submit" class="btn-submit" [disabled]="accountForm.invalid">Create Account</button>
    <a routerLink="/bank" class="task-list" class="task-list">Dashboard</a>

    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="success">
      {{ successMessage }}
    </div>
  </form>
</div>