.dashboard-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
}

.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #007bff;
  color: white;
}

.table td {
  background-color: #f9f9f9;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.empty-list {
  padding: 10px;
  text-align: center;
}