<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

  <label>Name</label>
  <input id="name" type="text" formControlName="name">

  <label>Email</label>
  <input id="email" type="email" formControlName="email">

  <label>Username</label>
  <input id="username" type="text" formControlName="username">

  <label>Password</label>
  <input id="password" type="password" formControlName="password">

  <button type="submit" [disabled]="customerForm.invalid">Submit</button>

</form>

<div *ngIf="customerError">{{ customerError }}</div>
<div *ngIf="customerSuccess">{{ customerSuccess }}</div>